{% extends "base.html" %}
{% block title %} {{ page_title }} {% endblock %}
{% block content %}
    Username : {{ profile.user.username }}
    <p></p>
        {% if l_friends %}
            {{ l_friends|length }} friends :
            <ul>
            {% for friend in l_friends %}
                <li>{{ friend.user.username }}</li>
                <a href="/{{ friend.user.username }}/">See Details</a>
            {% endfor %}
            </ul>
        {% else %}
            No Friends found :s
        {% endif %}
{% endblock %}